.SharePopupWrapper {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);

  .SharePopupContainer {
    padding: 20px;
    background: white;
    border-radius: 5px;
  }

  .emailShareWrapper {
    margin-bottom: 10px;

    button {
      margin-top: 10px;
    }
  }

  .shareFacebookBtn {
    margin-top: 10px;
    display: block;
  }
}