.avatarEditWrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.avatarEditContainer {
  background: white;
  padding: 20px;
  display: flex;
}

.avatarControls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.tabContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: white;
  overflow-y: scroll;
  height: 100vh;
  justify-content: space-around;
  padding-bottom: 10px;
}

.guestsContainer {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

.guestWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 80px;
}