.Playlist-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4em;
}

.Playlist-card {
  width: 200px;
  height: 200px;
}

img.Playist-img {
  width: 10em;
  height: 10em;
}

.Playlist-info {
  width: 200px;
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Pulse Grow */
@-webkit-keyframes hvrPulseGrow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvrPulseGrow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvrPulseGrow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvrPulseGrow:hover,
.hvrPulseGrow:focus,
.hvrPulseGrow:active {
  -webkit-animation-name: hvrPulseGrow;
  animation-name: hvrPulseGrow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
