.EventDetails-root {
  flex-grow: 1;
}

.EventDetails-grid {
}

.EventDetails-title-container {
}

.EventDetails-title {

}

.EventDetails-img {
  max-width: 280px;
  max-height: 280px;
  border-radius: 5px;
}

.EventDetails-info {
}

.EventDetails-actions {
}

.event-details-container {
  padding: 30px 30px 20px 30px;
}