.EventSummaryPlaylist-root {
  flex-grow: 1;
  text-align: center;
}

.EventSummaryPlaylist-image {
  width: 8em;
  height: 8em;
}

.EventSummaryPlaylist-image img {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
