body {
  background: #ffffff!important;
  font-family: 'Roboto', 'sans-serif';
}

a {
  text-decoration: none!important;
}

.Home-root {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
  background: white;
}

.Home-error-message {
  margin-top: 6em;
  padding: 2em;
}

.Home-content {
  flex-grow: 1;
  padding: 20px 40px 40px 40px;
}

.Home-toolbar {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0 8px;
}

.Home-left-menu-wrapper {
  width: 300px;
}

.Home-left-menu {
  width: 300px;
  position: fixed;
  background-color: #5159a6;
  height: 100%;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.12),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.Home-right-side {
  width: calc(100% - 300px);
}

.Home-logo-container {
  height: 166px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home-create-event-link {
  text-decoration: none;
}