.EventPlaylist-root {
  width: 100%;
}

.EventPlaylist-rightSideButtons {
  display: flex;
}

.EventPlaylist-stagedTracks {
  border: 2px solid #dadada;
  border-radius: 7px;
}

.EventPlaylist-playlist-actions {
  display: flex;
}

.EventPlaylist-playlist-action {
  margin-right: 1em;
}

.EventPlaylist-leftIcon {
  margin-right: 0.2em;
}

.EventPlaylist-iconSmall {
  font-size: 20;
}
