.title {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

.listItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #979797;
  padding: 10px;
  margin: 0 5px;
}

.imgSection {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.trackImg {
  width: 40px;
  height: 40px;
}

.trackNumber {
  margin-right: 20px;
}

.nameSection {
  display: flex;
  flex-direction: column;

  .artistName {
    font-size: 16px;
    color: #979797;
  }
}

.menuBtn {
  cursor: pointer;
}