.PreGame-root {
  width: 100%;
}

.PreGame-button {
  margin: 0.2em;
}

.PreGame-trackImage {
  max-width: 4.5em;
  max-height: 4, 5em;
}

.PreGame-card {
  max-width: 345px;
}
.PreGame-media {
  height: 0;
  padding-top: 56.25%;
}

.PreGame-leftIcon {
  margin-right: 0.2em;
}

.PreGame-rightIcon {
  margin-left: 0.2em;
}

.PreGame-iconSmall {
  font-size: 20;
}

.PreGame-acceptedTracks {
  border: 2px solid #dadada;
  border-radius: 7px;
}

.PreGame-avatar {
  margin: 5;
}

.PreGame-badge {
  margin-top: .85em
}

.PreGame-tab-bar {
  margin-top: 1em;  
  margin-bottom: 1em;
}
