.eventCreateActionContainer {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-bottom: 1.5em;
}
.eventCreateButton {
  float: right;
  margin: 1em;
  text-align: center;
}

.eventCreateText {
  margin: 1em;
  text-align: center;
}

.events {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1em;
  width: 100%;
  padding: 20px;
}

.slider-frame {
  overflow: visible!important;
  min-height: 200px;
}

.slider-list {
  max-height: 210px!important;
}

.slider-control-bottomcenter {
  display: none!important;
}

.slider {
  overflow: hidden;
  padding-left: 40px;
  padding-bottom: 2px;
}

.eventsList {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

.eventListTitle {
  font-family: 'Roboto', 'sans-serif';
  font-size: 20px;
  line-height: 23px;
  color: black;
  font-weight: 500;
  margin-right: 10px;
}

.eventListShowAll {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #FFB000;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: #AF00FF;
  letter-spacing: 0.75px;
}

.eventsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 220px;
}

.eventCardIcon {
  margin-right: 14px;
}
