.CreateEvent-formItem {
  text-align: center;
  width: 100%;
}

.CreateEvent-root {
  flex-grow: 1;
  padding: 20px;
}

div.filepicker {
  background: url("../assets/load-image.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #C7C7C7;
  min-height: 300px;
  padding: 0;
}

.dropzone .dz-message {
  cursor: pointer;
  background: rgba(111, 203, 214, 0.5);
  padding: 10px 16px;
  border-radius: 4px;
  text-transform: uppercase;
}

.control-btn-row {
  width: 100%;
  text-align: right;
  padding-right: 10px;

  .control-btn-text-primary {
    color: #979797;
  }

  .control-btn-text-secondary {
    color: white;
  }
}